.x-Game{
  background-color: aliceblue;
}

.game{
  padding-top: 12px;
  padding-bottom: 12px;
}

.div-gamestats{
  position: fixed;
  display: flex;
  margin-top: 6px;
  left: 50%;
  transform: translate(-50%, 0);
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.gamestats{
  margin-left: clamp(8px, 1px + 0.9115vw, 15px);
  font-size: clamp(20px, 10px + 1.3021vw, 30px);
  font-weight: 100;
  height: 100%;
  background-color: rgb(195, 226, 253);
  opacity: 0.8;
  border: 2px solid black;
  padding: 2px 10px 1px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
}

.gamestats:first-child{
  margin-left: 0;
}

.cards{
  height: 100%;
  margin: auto;
  margin-top: 70px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, minmax(130px, 1fr));
  gap: 16px;
  justify-items: center;
  align-content: space-between;
  max-width: 90%;
}

@media (max-width: 768px) {
  .div-gamestats{
    margin-top: 1px;
    display: grid;
    gap: 10px clamp(100px, 29.4118px + 19.6078vw, 180px);
  }

  .gamestats{
    margin-left: 0;
    font-size:clamp(14px, 3.4118px + 2.9412vw, 26px);
    width: clamp(126px, 100.4118px + 7.1078vw, 155px);
    justify-content: center;
  }
    
  .cards{
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    margin-top: clamp(45px, 54.4118px + -1.2255vw, 50px);
  }
}