.start-page{
  background-color: rgb(178, 210, 238);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  padding: 8px;
  border: 3px solid black;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  transition: transform 0.2s;
}

.start-page:hover{
  transform: translate(-50%, -50%) scale(1.02);
  transition: transform 0.2s;
}

.sp-container{
  margin-top: 10px;
  display: flex;
}

.start-page h1{
  font-size: 32px;
  text-align: center;
}


.start-page-button:hover{
  cursor: pointer;
  transition: 0.2s;
}

.game-class-buttons{
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

.game-class-button{
  background: none;
  border: none;
  border-radius: 100%;
  height: 100px;
  margin-right: 5px;
}

.game-class-button:last-child{
  margin-right: 0;
}

.game-class-button img{
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.game-class-button img:hover{
  border: 6px solid rgb(59, 122, 240);
  box-sizing: border-box;
}

.game-class-button-active{
  border: 6px solid rgb(59, 122, 240);
  box-sizing: border-box;
  cursor: default;
}

.game-mode-button{
  margin: 0 auto;
  margin-top: 15px;
  border: 2px solid black;
  border-radius: 4px;
  width: 300px;
  height: 45px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-mode-button:hover{
  color:rgb(72, 72, 72)
}

.timer-on-button{
  margin-top: -1px;
}

.HP-on-button{
  margin-top: -2px;
  margin-left: 2px;
}

.game-mode-switcher{
  margin-left: 30px;
}

.count-changer-label{
  margin: 0 10px;
  margin-top: 15px;
  font-family: Gothic-60;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
}

.count-changer{
  width: -webkit-fill-available;
  -webkit-appearance: none;
  margin: 0 10px;
  border-radius: 5px;
  background: transparent;
    cursor: pointer;
}

.count-changer::-webkit-slider-thumb{
  margin-top: -3px;
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  background-color: rgb(59, 122, 240);
  border-radius: 50%;
  border: none;
}

.count-changer::-webkit-slider-runnable-track {
  height: 8px;
  background-color: aliceblue;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    rgb(88, 141, 240) 0%,
    rgb(59, 122, 240) var(--value),
    aliceblue var(--value),
    aliceblue 100%
  );
}

.count-changer::-moz-range-track {
  height: 8px;
  background: aliceblue;
  border-radius: 5px;
}

.count-changer::-moz-range-progress {
  height: 8px;
  background: linear-gradient(
    to right,
    rgb(88, 141, 240),
    rgb(59, 122, 240)
  );
  border-radius: 5px;
}

.count-changer::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background-color: rgb(59, 122, 240);
  border-radius: 50%;
  border: none;
}

.count-changer-label p{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(59, 122, 240);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  aspect-ratio: 1 / 1;
  color: aliceblue;
  padding-top: 1px;
  font-size: 14px;
  font-weight: 300;
}

.game-start-button{
  background-color:rgb(59, 122, 240);
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid black;
  color: black;
  width: 150px;
  height: 45px;
  font-size: 30px;
  padding-top: 2px;
}

.game-start-button:hover{
  cursor: pointer;
  background-color: rgb(88, 141, 240);
  color:aliceblue;
  border: 2px solid black;
  transition: color 0.3s, background-color 0.3s
}

@media (max-width: 768px){
  .game-class-button-active{
    border-width: 5px
  }
  .game-class-button img{
    width: clamp(70px, 43.5294px + 7.3529vw, 100px);
    height: clamp(70px, 43.5294px + 7.3529vw, 100px);
  }
  
  .game-class-button img:hover{
    border-width: 5px;
  }

  .game-mode-button{
    width: clamp(200px, 111.7647px + 24.5098vw, 300px);
  }
}