@font-face {
  font-family: 'Gothic-60';
  src: url(/Windows/Fonts/Gothic60-Regular.otf);
}

*{
  margin:0;
  padding:0;
}

button{
  font-family: Gothic-60;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p, h1{
  font-family: Gothic-60;
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
}

.x-StartPage, .x-Game{
  transition: background-color 4s;
  background-color: rgb(195, 226, 253);
  min-height: 100vh;
}